  @import url('https://fonts.googleapis.com/css?family=Raleway:200');

/* ---- reset ---- */
html, body {
  margin: 0;
  font-family: 'Roboto';
  font-weight:200;
  /*background: linear-gradient(#111, #000, #111);*/
}
.meditation-instructions{
background-color: blue;
font-family: 'Roboto';
font-weight:200;
color: #000;
font-size: 1.3em;
}
canvas {
  display: block;
  vertical-align: bottom;
/*  width: 100%;
  height: 100%;*/
}

/*#meditations{
  background-color: transparent !important;
}*/

/*#logo-canvas, .logo-canvas{
  z-index: -2;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
}*/
  /* --------------------- NAVBAR / FOOTER / GLOBALS --------------------- */

  

 /* --------------------- CONTENT --------------------- */
/* ---- particles.js container ---- */

/*#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #111;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}*/

/* ---- stats.js ---- */

/*.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles {
  font-size: 1.1em;
}

#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles {
  border-radius: 0 0 3px 3px;
}*/


