@import url('https://fonts.googleapis.com/css?family=Raleway:200');

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#world {
  background: transparent;
  position:absolute;
  width:55%;
  height:55%;
  top: 150px;
  left: 300px;
  overflow:hidden;
}
#instructions{
  position:absolute;
  width:100%;
  top:50%;
  margin: auto;
  margin-top:5px;
  margin-left: -100px;
  font-family:'Roboto';
  font-weight: 200;
  color:#653f4;
  font-size:.9em;
  text-transform: uppercase;
  text-align : center;
  user-select: none;
}
.lightInstructions {
  color:#993f4c;
  font-size:.8em;
}


